In [2]:
import sqlite3

db = sqlite3.connect('Investment Firm.sqlite')
db

In [3]:
cur = db.cursor()
cur

In [4]:
sql_query = 'create table Employee_Details(employee_id int Primary Key, name Text, age int, department Text, salary int)'
cur.execute(sql_query)

In [5]:
cur.execute('insert into Employee_Details values(100, "Rishav", 25, "Marketing", 50000)')

In [6]:
db.commit()

In [8]:
cur.execute('insert into Employee_Details values(101, "Abhishek", 26, "Operations", 60000)')

In [9]:
cur.execute('insert into Employee_Details values(102, "Aman", 24, "Human Resource", 75000)')

In [10]:
db.commit()

In [11]:
db.close()