In [14]:
import sqlite3

db = sqlite3.connect('Investment Firm.sqlite')
cur = db.cursor()
cur

In [15]:
cur.execute('select * from Employee_Details')

In [3]:
for row in cur:
    print(row)

(101, 'Aadarsh', 25, 'Marketing', 50000)
(102, 'Aarti', 27, 'Operations', 60000)
(103, 'Siddharth', 25, 'Finance', 85000)
(104, 'Aman', 24, 'Human Resource', 75000)
(105, 'Amit', 30, 'Marketing', 50000)
(106, 'Shivansh', 26, 'IT', 90000)
(107, 'Vaibhav', 23, 'Finance', 85000)
(108, 'Himanshu', 26, 'IT', 90000)
(109, 'Raman', 25, 'Operations', 60000)
(110, 'Kunal', 26, 'Marketing', 50000)
(111, 'Adhira', 29, 'Human Resource', 75000)
(112, 'Tanya', 24, 'Marketing', 50000)

In [23]:
value = cur.execute('select employee_id from Employee_Details where department="Finance"')
value

In [24]:
for row in value:
    print(row)
# print(type(row))

(103,)
(107,)

In [25]:
import sqlite3

db = sqlite3.connect('Employee_Detail.sqlite')
cur = db.cursor()

cur.execute('select * from Employee_Detail where Department = "Finance"')
ans = cur.fetchall()
for i in ans:
    print(i[0])
# db.close()
print(type(i))

103
107
<class 'tuple'>