In [21]:
import sqlite3

db = sqlite3.connect('Investment Firm.sqlite')
cur = db.cursor()
cur.execute('select * from Employee_Details')
for row in cur:
    print(row)

(101, 'Aadarsh', 25, 'Marketing', 50000)
(102, 'Aarti', 27, 'Operations', 60000)
(103, 'Siddharth', 25, 'Finance', 85000)
(104, 'Aman', 24, 'Human Resource', 75000)
(105, 'Amit', 30, 'Marketing', 50000)
(106, 'Shivansh', 26, 'IT', 90000)
(107, 'Vaibhav', 23, 'Finance', 85000)
(108, 'Himanshu', 26, 'IT', 90000)
(109, 'Raman', 25, 'Operations', 60000)
(110, 'Kunal', 26, 'Marketing', 50000)
(111, 'Adhira', 29, 'Human Resource', 75000)
(112, 'Tanya', 24, 'Marketing', 50000)

In [17]:
cur.execute('select distinct department, count(department) from Employee_Details group by department')

In [18]:
ans = cur.fetchall()
for i in ans:
    print(i)

('Finance', 2)
('Human Resource', 2)
('IT', 2)
('Marketing', 4)
('Operations', 2)

In [22]:
cur.execute('select department, count(department) from Employee_Details group by department')
ans = cur.fetchall()
for i in ans:
    print(i)

('Finance', 2)
('Human Resource', 2)
('IT', 2)
('Marketing', 4)
('Operations', 2)

In [19]:
import sqlite3

db = sqlite3.connect('Employee_Detail.sqlite')
cur = db.cursor()

cur.execute('select Department,count(*) from Employee_Detail group by Department')
ans = cur.fetchall()
for i in ans:
    print(i[0],i[1])

Finance 2
Human Resource 2
IT 2
Marketing 3
Operations 1