In [54]:
import sqlite3
import pandas as pd
import numpy as np

db = sqlite3.connect('IMDB.sqlite')
data = pd.read_sql_query('select * from earning ', db)
data['total'] = data["Domestic"]+data["Worldwide"]
temp = max(data['total'])
data = data[data['total']==temp]
ans = data.values[0][0]
new_data = pd.read_sql_query('select * from IMDB ', db)
new_data = new_data[new_data['Movie_id']==ans]
print(new_data.values[0][2])
# new_data

8.1

In [38]:
import pandas as pd
import sqlite3

db = sqlite3.connect('IMDB.sqlite')
data = pd.read_sql_query('select * from earning inner join IMDB on earning.Movie_id=IMDB.Movie_id',db)
# select * from earning join IMDB using(Movie_id) 
data["Total"] = data["Domestic"] + data["Worldwide"]
max1 = max(data["Total"])
data=data[data['Total']==max1]
print(data.values[0][5])

,Movie_id,Domestic,Worldwide,Movie_id,Title,Rating,TotalVotes,MetaCritic,Budget,Runtime,...,Votes3044M,Votes3044F,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS,Total
79,38626,936662225,2.068224e+09,38626,Star Wars: The Force Awakens (2015),8.1,676732,81,245000000.0,136 min,...,7.9,8.2,7.9,7.8,8.2,8.3,7.7,8.2,7.9,3.004886e+09