In [2]:
import sqlite3

db = sqlite3.connect('Investment Firm.sqlite')
cur = db.cursor()
cur

In [3]:
cur.execute('delete from Employee_Details where employee_id = 100')
db.commit()

In [4]:
cur.execute('delete from Employee_Details where employee_id = 101')
db.commit()

In [5]:
cur.execute('delete from Employee_Details where employee_id = 102')
db.commit()

In [7]:
value = [(101, "Aadarsh", 25, "Marketing", 50000), (102, "Aarti", 27, "Operations", 60000)]
cur.executemany('insert into Employee_Details values(?,?,?,?,?)', value)

In [8]:
db.commit()

In [10]:
values = [(103, "Siddharth", 25, "Finance", 85000), (104, 'Aman', 24, 'Human Resource', 75000),(105, 'Amit', 30, 'Marketing', 50000),(106, 'Shivansh', 26, 'IT', 90000)]
cur.executemany('Insert into Employee_Details values (?,?,?,?,?)', values)
db.commit()
values = [(107, 'Vaibhav', 23, 'Finance', 85000),(108, 'Himanshu', 26, 'IT', 90000),(109, 'Raman', 25, 'Operations', 60000)]
cur.executemany('Insert into Employee_Details values (?,?,?,?,?)', values)
db.commit()
values = [(110, 'Kunal', 26, 'Marketing', 50000),(111, 'Adhira', 29, 'Human Resource', 75000),(112, 'Tanya', 24, 'Marketing', 50000)]
cur.executemany('Insert into Employee_Details values (?,?,?,?,?)', values)
db.commit()