In [1]:
import sqlite3
db = sqlite3.connect('School.sqlite')
db

In [2]:
cur = db.cursor()
cur

In [3]:
cur.execute('insert into student values(103,"Mohit", 24)')

In [4]:
db.commit()

In [5]:
rollNumber = 104
Name = "Nikhil"
age = 34

cur.execute('insert into student values (?, ?, ?)', (rollNumber, Name, age))

In [6]:
db.commit()

In [7]:
values = [(105, "Nidhi", 20), (106, "Manisha", 21), (107, "Ankush", 22)]
cur.executemany('insert into student values (?, ?, ?)', values)

In [8]:
db.commit()

In [9]:
cur.execute('update student set Age = 30')
db.commit()

In [10]:
cur.execute('update student set Age = 20 where RollNumber = 102')
db.commit()

In [11]:
new_age = 50
cur.execute('update student set Age = ? where RollNumber = 103', (new_age, ))
db.commit()

In [12]:
db.close()