In [1]:
import pandas as pd

In [2]:
iris = pd.read_csv('iris.csv')
df = iris.copy()

In [6]:
value = []
value = df.describe()
value

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [7]:
import csv

In [46]:
mean_value = value.iloc[1:2, 0:4].round(2)
min_value = value.iloc[3:4, 0:4].round(2)
max_value = value.iloc[7:8, 0:4].round(2)
print(min)

     sepal.length  sepal.width  petal.length  petal.width
max           7.9          4.4           6.9          2.5

In [49]:
import numpy as np

In [50]:
value
traspose = value
traspose
y = np.transpose(value)

In [51]:
y

              count      mean       std  min  25%   50%  75%  max
sepal.length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal.width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal.length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal.width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

In [62]:
z = (y.iloc[0:4, 1:2].round(2))
a1 = (y.iloc[0:4, 3:4].round(2))
a2 = (y.iloc[0:4, 7:8].round(2))
print((y.iloc[0:4, 7:8].round(2)))

              max
sepal.length  7.9
sepal.width   4.4
petal.length  6.9
petal.width   2.5

In [58]:
x = np.transpose(z)
x

      sepal.length  sepal.width  petal.length  petal.width
mean          5.84         3.06          3.76          1.2

In [61]:
y1 = np.transpose(a1)
y1

     sepal.length  sepal.width  petal.length  petal.width
min           4.3          2.0           1.0          0.1

In [64]:
y2 = np.transpose(a2)
y2

     sepal.length  sepal.width  petal.length  petal.width
max           7.9          4.4           6.9          2.5

In [65]:
print(y1)
print(y2)
print(x)

     sepal.length  sepal.width  petal.length  petal.width
min           4.3          2.0           1.0          0.1
     sepal.length  sepal.width  petal.length  petal.width
max           7.9          4.4           6.9          2.5
      sepal.length  sepal.width  petal.length  petal.width
mean          5.84         3.06          3.76          1.2

In [67]:
iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [71]:
import pandas as pd
columns = ['sl','sw','pl','pw','flower_type']
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names=columns)

c = iris[iris.flower_type=='Iris-setosa']
print('%.2f'%min(c['sl']),'%.2f'%min(c['sw']),'%.2f'%min(c['pl']),'%.2f'%min(c['pw']),c.iloc[0,4])
print('%.2f'%max(c['sl']),'%.2f'%max(c['sw']),'%.2f'%max(c['pl']),'%.2f'%max(c['pw']),c.iloc[0,4])
print('%.2f'%(c['sl'].mean()),'%.2f'%(c['sw'].mean()),'%.2f'%(c['pl'].mean()),'%.2f'%(c['pw'].mean()),c.iloc[0,4])

c1 = iris[iris.flower_type=='Iris-versicolor']
print('%.2f'%min(c1['sl']),'%.2f'%min(c1['sw']),'%.2f'%min(c1['pl']),'%.2f'%min(c1['pw']),c1.iloc[0,4])
print('%.2f'%max(c1['sl']),'%.2f'%max(c1['sw']),'%.2f'%max(c1['pl']),'%.2f'%max(c1['pw']),c1.iloc[0,4])
print('%.2f'%(c1['sl'].mean()),'%.2f'%(c1['sw'].mean()),'%.2f'%(c1['pl'].mean()),'%.2f'%(c1['pw'].mean()),c1.iloc[0,4])

c2 = iris[iris.flower_type=='Iris-virginica']
print('%.2f'%min(c2['sl']),'%.2f'%min(c2['sw']),'%.2f'%min(c2['pl']),'%.2f'%min(c2['pw']),c2.iloc[0,4])
print('%.2f'%max(c2['sl']),'%.2f'%max(c2['sw']),'%.2f'%max(c2['pl']),'%.2f'%max(c2['pw']),c2.iloc[0,4])
print('%.2f'%(c2['sl'].mean()),'%.2f'%(c2['sw'].mean()),'%.2f'%(c2['pl'].mean()),'%.2f'%(c2['pw'].mean()),c2.iloc[0,4])

4.30 2.30 1.00 0.10 Iris-setosa
5.80 4.40 1.90 0.60 Iris-setosa
5.01 3.42 1.46 0.24 Iris-setosa
4.90 2.00 3.00 1.00 Iris-versicolor
7.00 3.40 5.10 1.80 Iris-versicolor
5.94 2.77 4.26 1.33 Iris-versicolor
4.90 2.20 4.50 1.40 Iris-virginica
7.90 3.80 6.90 2.50 Iris-virginica
6.59 2.97 5.55 2.03 Iris-virginica

In [72]:
print(y1)
print(y2)
print(x)

     sepal.length  sepal.width  petal.length  petal.width
min           4.3          2.0           1.0          0.1
     sepal.length  sepal.width  petal.length  petal.width
max           7.9          4.4           6.9          2.5
      sepal.length  sepal.width  petal.length  petal.width
mean          5.84         3.06          3.76          1.2