In [1]:
import sqlite3

db = sqlite3.connect('IMDB.sqlite')
db

if database not present then it create the database not giving the 
error

In [2]:
db = sqlite3.connect('IMDB_1.sqlite')
db

In [3]:
db = sqlite3.connect('School.sqlite')
db

In [4]:
cur = db.cursor()
cur

In [5]:
sql_query = 'create table student (RollNumber int primary key, Name Text, Age int)'
cur.execute(sql_query)

you can directly insert but you have to commit it

In [7]:
cur.execute('insert into student values (101,"Aman", 20)')

only typing the above code you are not seeing the any chnage
becue you did not commit it

In [8]:
db.commit()

In [9]:
cur.execute('insert into student values (101,"Aman", 20)')

IntegrityError: UNIQUE constraint failed: student.RollNumber

primary key -> unique + not null

In [10]:
cur.execute('insert into student values (102,"Amit", 21)')

In [11]:
db.commit()

In [12]:
db.close()

In [13]:
cur.execute('insert into student values (102,"Amit", 21)')

ProgrammingError: Cannot operate on a closed database.