In [1]:
import pandas as pd

In [2]:
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
iris

KeyboardInterrupt:

In [3]:
iris = pd.read_csv("iris.csv")
iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [4]:
df = iris.copy()

In [5]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [6]:
df.drop(0)

     sepal.length  sepal.width  petal.length  petal.width    variety
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
5             5.4          3.9           1.7          0.4     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[149 rows x 5 columns]

In [7]:
a = df.drop(0)
a.head()

   sepal.length  sepal.width  petal.length  petal.width variety
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa

In [8]:
df.drop(0, inplace = True)
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa

In [ ]:
# error beacuse 0 label is already deleted and you are trying
to access that label

In [9]:
df.drop(0, inplace = True)
df.head()

KeyError: '[0] not found in axis'

In [10]:
#drop by label
df.drop(3, inplace = True)
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa

In [11]:
df.index

Index([  1,   2,   4,   5,   6,   7,   8,   9,  10,  11,
       ...
       140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
      dtype='int64', length=148)

In [12]:
# drop by position
df.index[0], df.index[3]

(1, 5)

In [14]:
df.drop(df.index[0], inplace = True)
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
2           4.7          3.2           1.3          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa

In [ ]:
# remove two entry

In [15]:
df.drop(df.index[[0,1]], inplace = True)
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa
8           4.4          2.9           1.4          0.2  Setosa
9           4.9          3.1           1.5          0.1  Setosa

In [17]:
df.columns = ['sl','sw','pl','pw','flower_type']

In [19]:
df.sl > 5

5       True
6      False
7      False
8      False
9      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: sl, Length: 145, dtype: bool

In [20]:
df[df.sl > 5] #bool array

      sl   sw   pl   pw flower_type
5    5.4  3.9  1.7  0.4      Setosa
10   5.4  3.7  1.5  0.2      Setosa
14   5.8  4.0  1.2  0.2      Setosa
15   5.7  4.4  1.5  0.4      Setosa
16   5.4  3.9  1.3  0.4      Setosa
..   ...  ...  ...  ...         ...
145  6.7  3.0  5.2  2.3   Virginica
146  6.3  2.5  5.0  1.9   Virginica
147  6.5  3.0  5.2  2.0   Virginica
148  6.2  3.4  5.4  2.3   Virginica
149  5.9  3.0  5.1  1.8   Virginica

[117 rows x 5 columns]

In [21]:
df[df.flower_type == "Setosa"]

     sl   sw   pl   pw flower_type
5   5.4  3.9  1.7  0.4      Setosa
6   4.6  3.4  1.4  0.3      Setosa
7   5.0  3.4  1.5  0.2      Setosa
8   4.4  2.9  1.4  0.2      Setosa
9   4.9  3.1  1.5  0.1      Setosa
10  5.4  3.7  1.5  0.2      Setosa
11  4.8  3.4  1.6  0.2      Setosa
12  4.8  3.0  1.4  0.1      Setosa
13  4.3  3.0  1.1  0.1      Setosa
14  5.8  4.0  1.2  0.2      Setosa
15  5.7  4.4  1.5  0.4      Setosa
16  5.4  3.9  1.3  0.4      Setosa
17  5.1  3.5  1.4  0.3      Setosa
18  5.7  3.8  1.7  0.3      Setosa
19  5.1  3.8  1.5  0.3      Setosa
20  5.4  3.4  1.7  0.2      Setosa
21  5.1  3.7  1.5  0.4      Setosa
22  4.6  3.6  1.0  0.2      Setosa
23  5.1  3.3  1.7  0.5      Setosa
24  4.8  3.4  1.9  0.2      Setosa
25  5.0  3.0  1.6  0.2      Setosa
26  5.0  3.4  1.6  0.4      Setosa
27  5.2  3.5  1.5  0.2      Setosa
28  5.2  3.4  1.4  0.2      Setosa
29  4.7  3.2  1.6  0.2      Setosa
30  4.8  3.1  1.6  0.2      Setosa
31  5.4  3.4  1.5  0.4      Setosa
32  5.2  4.1  1.5  0.1      Setosa
33  5.5  4.2  1.4  0.2      Setosa
34  4.9  3.1  1.5  0.2      Setosa
35  5.0  3.2  1.2  0.2      Setosa
36  5.5  3.5  1.3  0.2      Setosa
37  4.9  3.6  1.4  0.1      Setosa
38  4.4  3.0  1.3  0.2      Setosa
39  5.1  3.4  1.5  0.2      Setosa
40  5.0  3.5  1.3  0.3      Setosa
41  4.5  2.3  1.3  0.3      Setosa
42  4.4  3.2  1.3  0.2      Setosa
43  5.0  3.5  1.6  0.6      Setosa
44  5.1  3.8  1.9  0.4      Setosa
45  4.8  3.0  1.4  0.3      Setosa
46  5.1  3.8  1.6  0.2      Setosa
47  4.6  3.2  1.4  0.2      Setosa
48  5.3  3.7  1.5  0.2      Setosa
49  5.0  3.3  1.4  0.2      Setosa

In [22]:
df[df.flower_type == "Setosa"].describe()

              sl         sw         pl         pw
count  45.000000  45.000000  45.000000  45.000000
mean    5.022222   3.444444   1.468889   0.251111
std     0.362998   0.388795   0.180683   0.110005
min     4.300000   2.300000   1.000000   0.100000
25%     4.800000   3.200000   1.400000   0.200000
50%     5.000000   3.400000   1.500000   0.200000
75%     5.200000   3.700000   1.600000   0.300000
max     5.800000   4.400000   1.900000   0.600000

In [ ]:
c1 = df[df.flower_type == "Setosa"]

In [23]:
# how to add a row

In [24]:
# iloc -> work by poition
df.head()

    sl   sw   pl   pw flower_type
5  5.4  3.9  1.7  0.4      Setosa
6  4.6  3.4  1.4  0.3      Setosa
7  5.0  3.4  1.5  0.2      Setosa
8  4.4  2.9  1.4  0.2      Setosa
9  4.9  3.1  1.5  0.1      Setosa

In [25]:
df.iloc[0]

sl                5.4
sw                3.9
pl                1.7
pw                0.4
flower_type    Setosa
Name: 5, dtype: object

In [26]:
# label based 
#error beacuse there is no 0 label
df.loc[0]

KeyError: 0

In [27]:
# loc is doing by label
df.loc[5]

sl                5.4
sw                3.9
pl                1.7
pw                0.4
flower_type    Setosa
Name: 5, dtype: object

In [28]:
# add a row
df.loc[0] = [1,2,3,4,"Iris-setosa"]

In [29]:
df.head()

    sl   sw   pl   pw flower_type
5  5.4  3.9  1.7  0.4      Setosa
6  4.6  3.4  1.4  0.3      Setosa
7  5.0  3.4  1.5  0.2      Setosa
8  4.4  2.9  1.4  0.2      Setosa
9  4.9  3.1  1.5  0.1      Setosa

In [30]:
df.tail()

      sl   sw   pl   pw  flower_type
146  6.3  2.5  5.0  1.9    Virginica
147  6.5  3.0  5.2  2.0    Virginica
148  6.2  3.4  5.4  2.3    Virginica
149  5.9  3.0  5.1  1.8    Virginica
0    1.0  2.0  3.0  4.0  Iris-setosa

In [ ]:
# in the tail we added the our row