In [4]:
import sqlite3

db = sqlite3.connect('School.sqlite')
db

In [5]:
cur = db.cursor()
cur

In [6]:
cur.execute('select *from student')

In [7]:
for row in cur:
    print(row)

(101, 'Aman', 30)
(102, 'Amit', 20)
(103, 'Mohit', 50)
(104, 'Nikhil', 30)
(105, 'Nidhi', 30)
(106, 'Manisha', 30)
(107, 'Ankush', 30)

In [8]:
cur.execute('select * from student')
print(cur.fetchone())

(101, 'Aman', 30)

In [9]:
print(cur.fetchone())

(102, 'Amit', 20)

In [10]:
cur.execute('select *from student')
print(cur.fetchmany(3))

[(101, 'Aman', 30), (102, 'Amit', 20), (103, 'Mohit', 50)]

In [11]:
cur.execute('select *from student')
print(cur.fetchmany())

[(101, 'Aman', 30)]

In [12]:
cur.execute('select *from student')
print(cur.fetchall())

[(101, 'Aman', 30), (102, 'Amit', 20), (103, 'Mohit', 50), (104, 'Nikhil', 30), (105, 'Nidhi', 30), (106, 'Manisha', 30), (107, 'Ankush', 30)]

In [13]:
cur.execute('select *from student')
ans = cur.fetchmany(3)
ans

[(101, 'Aman', 30), (102, 'Amit', 20), (103, 'Mohit', 50)]

In [15]:
cur.execute('select *from student where RollNumber>103')
print(cur.fetchall())

[(104, 'Nikhil', 30), (105, 'Nidhi', 30), (106, 'Manisha', 30), (107, 'Ankush', 30)]

In [16]:
cur.execute('select *from student where Name like "A%"')
print(cur.fetchall())

[(101, 'Aman', 30), (102, 'Amit', 20), (107, 'Ankush', 30)]