In [26]:
import csv

with open('amazon_jobs_dataset.csv') as file_obj:
    file_data = csv.DictReader(file_obj, skipinitialspace=True)
    file_list = list(file_data)
    
    count=0
    file_dic = {}
    for row in file_list:
        key1 = row['Posting_date']
        ans = key1.find('2018')
        
        if ans != -1:
            if key1 in file_dic.keys():
                file_dic[key1] += 1
            else:
                file_dic[key1] = 1
        else:
            continue
    print(file_dic)
    print()
    print()
    print(file_dic.values())
    print()
    print()
    li = list(file_dic.values())
    count=0
    for i in li:
        if count<i:
            count=i
    print("no. jobs: ", count)
    answer = ""
    for key, value in file_dic.items():
        if value==count:
            answer = key
    print("month having most job openings: ", answer)

{'March  1, 2018': 13, 'February 28, 2018': 42, 'February 27, 2018': 37, 'February 26, 2018': 33, 'February 25, 2018': 6, 'February 24, 2018': 5, 'February 23, 2018': 28, 'February 22, 2018': 35, 'February 21, 2018': 47, 'February 20, 2018': 36, 'February 19, 2018': 26, 'February 18, 2018': 5, 'February 16, 2018': 19, 'February 15, 2018': 41, 'February 14, 2018': 50, 'February 13, 2018': 40, 'February 12, 2018': 36, 'February 11, 2018': 6, 'February  9, 2018': 20, 'February  8, 2018': 39, 'February  7, 2018': 46, 'February  6, 2018': 51, 'February  5, 2018': 51, 'February  4, 2018': 4, 'February  3, 2018': 4, 'February  2, 2018': 52, 'February  1, 2018': 31, 'January 31, 2018': 31, 'January 30, 2018': 42, 'January 29, 2018': 56, 'January 28, 2018': 5, 'January 26, 2018': 25, 'January 25, 2018': 35, 'January 24, 2018': 44, 'January 23, 2018': 44, 'January 22, 2018': 35, 'January 21, 2018': 3, 'January 19, 2018': 34, 'January 18, 2018': 42, 'January 17, 2018': 57, 'January 16, 2018': 36, 'January 15, 2018': 45, 'January 14, 2018': 5, 'January 12, 2018': 41, 'January 11, 2018': 36, 'January 10, 2018': 36, 'January  9, 2018': 43, 'January  8, 2018': 46, 'January  7, 2018': 4, 'January  6, 2018': 11, 'January  5, 2018': 31, 'January  4, 2018': 39, 'January  3, 2018': 48, 'January  2, 2018': 33}


dict_values([13, 42, 37, 33, 6, 5, 28, 35, 47, 36, 26, 5, 19, 41, 50, 40, 36, 6, 20, 39, 46, 51, 51, 4, 4, 52, 31, 31, 42, 56, 5, 25, 35, 44, 44, 35, 3, 34, 42, 57, 36, 45, 5, 41, 36, 36, 43, 46, 4, 11, 31, 39, 48, 33])


no. jobs:  57
month having most job openings:  January 17, 2018

In [4]:
str = "March22  1, 2018"
ans = str.find('2018')
print(ans)

12

In [6]:
li = [1,1,1,2,3,44,4,4,6]
dic = {}
for i in li:
    if i in dic.keys():
        dic[i] +=1
    else:
        dic[i] = 1
        
count = 0
value=0
for i in li:
    if dic[i]>count:
        count = dic[i]
        value=i
    else:
        continue
        
print(dic)
print(count)
print(value)

{1: 3, 2: 1, 3: 1, 44: 1, 4: 2, 6: 1}
3
1

In [21]:
# key1 = row['Posting_date']
# key2 = row['month_list']
# ans1 = key1.find('2018')
# ans2 = key2.find(key1)

str1 = "May 11, 2018"
str2 = "January"
month_str = "January, February, March, Aprail, May, June, July, August, September, October, November, December"

# li = ["January 11, 2018","February  4, 2018","March  1, 2018"]
ans1 = str2.find(str1)
ans2 = str1.find(str2)
ans3 = str1.find(month_str)
ans4 = month_str.find(str1[0:2])
print(ans1)
print(ans2)
print(ans3)
print(ans4)

-1
-1
-1
19

In [2]:
a = {1:20,2:10,3:40,5:10,6:0}
print(a.keys())
print(a.values())

dict_keys([1, 2, 3, 5, 6])
dict_values([20, 10, 40, 10, 0])

In [20]:
li = list(a.values())
count=0
for i in li:
    if count<i:
        count=i
print(count)
print(a.get(3))

40
40

In [22]:
for key, value in a.items():
    if value==40:
        print(key)

3